/* General App stuff*/

html,
body {
  /*overflow: hidden;*/
  position: fixed;
  width: 100%;
  /*background-color: #383c44; */
}

.App-header {
  background-color: #1e90ff;
  background-color: #6495ed;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  sdftext-align: center;
  /*min-width: 800px;*/
}

.maxWidthFloat,
#textarea {
  margin: auto;
  /*padding-top: 0px;
  padding-bottom: 0px;*/
  padding-left: 0px;
  padding-right: 0px;
  max-width: 800px;
}
.span {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.AppSection {
  /*background-color: #f9f9f9;*/
  margin-left: 60px;
  margin-right: 60px;
  min-height: 80vh;
  max-height: 80vh;
}
.navigationDiv {
  /*background-color: #f0f0f0;*/
  /*min-height: 20vh; */
  /*max-height: 20vh;*/
  /*overflow: hidden;*/
  white-space: nowrap;
  position: absolute;
  top: calc(100vh - 130px);
}
.typeArea {
  min-height: 30vh;
  max-height: 30vh;
}
.controlDiv {
  margin-top: 30px;
  /*min-height: 30vh;*/
  max-height: 30vh;
}
.controlDiv > * {
  margin-right: 10px;
}
.bigGap {
  padding-bottom: 700px;
}

/* Text */

mark {
  background-color: #6495ed;
  background-color: #94b5ff;
  color: black;
}
.cursor {
  /*border-bottom: 3px solid #6495ED;*/
  box-shadow: -2px 0 #000;
}
.clue {
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  margin-top: 0.8rem;
  margin-right: 15px;
}
.clueDiv {
  margin-top: 15px;
  margin-bottom: 15px;
}
.TextArea {
  min-height: 5.4rem;
  max-width: 100%;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

textarea {
  max-width: 100%;

  /*Show the box*/
  /*position: absolute;
  top: 300px;*/
}

.char,
textarea,
.TextArea,
.AnswerReveal {
  min-width: 25px;
  white-space: pre-wrap;
  word-wrap: break-word;
  /*outline: 1px solid white;*/
}
.char,
textarea,
.TextArea {
  font-size: 2.2rem; /* 35 43px */
}
.AnswerReveal {
  font-size: 1.6rem; /* 35 43px */
}
.charGreen,
.countText {
  background-color: #28a745;
  background-color: #e7fbd3;
  background-color: #c7fbc3;
}
.charGreen2 {
  background-color: #40c745;
  /*background-color: #e7fbd3;*/
}
.charGreen3 {
  background-color: #40c775;
  /*background-color: #c7fbc3;*/
}
.charGrey {
  background-color: #bfbfbf;
}
.charGrey2 {
  background-color: #d0d0d0;
}
.charGrey3 {
  background-color: #e8e8e8;
}

.charRed {
  background-color: #dc3545;
  background-color: #f2dede;
  background-color: pink;
}
.charOrange {
  background-color: #ffd699;
}
.countText {
  vertical-align: 19%;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  width: 100%;
  /*height: 400px;*/
  height: auto;
  /*border-radius: 5px;    */
  /*border: 1px solid #ccc;*/
  border: none;
  /*box-shadow: 1px 1px 1px #999;*/
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  overflow: auto;
  outline: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* Others */

.buttonMargin {
  margin-right: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  display: inline;
  /*float: left;*/
}
.App-paper {
  paddingtop: 100 * 2;
  paddingbottom: 100 * 1;
  padding-left: 400;
  padding-right: 100;
}

.App-link {
  color: #61dafb;
}

link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
