
/* General App stuff*/

html, body {
  /*overflow: hidden;*/
  position: fixed;
  width: 100%;
  /*background-color: #383c44; */
}

.App {
  sdftext-align: center;
  max-width: 800px;
  /*min-width: 800px;*/
}
.Tas {
  margin-left: 60px;
  margin-right: 60px;
}
.span {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.controlDiv {
  margin-top: 30px;
}
.bigGap {
  padding-bottom: 100px;
}


/* Text */

mark {
  background-color: #6495ED;
  background-color: #94B5FF;
  color: black;
}
.cursor {
  /*border-bottom: 3px solid #6495ED;*/
  box-shadow: -2px 0 #000
}
.clue {
  font-size: 24px;
  font-weight: bold;
}
.TextArea {
  max-width: 100%;
}
textarea {
  max-width: 99%; 
}
.char, textarea {
  font-size: 2.2rem; /* 35 43px */
  min-width: 25; /* 25 */
  white-space: pre-wrap;
  /*word-wrap: normal;*/
  /*font-family: monospace;*/
  /*outline: 1px solid white;*/
}
.charSuccess {
  background-color: #ffc107;
  background-color: #28a745;
  background-color: #dff0d8;
  background-color: #e7fbd3; 
}
.charDanger {
  background-color: #dc3545;
  background-color: #f2dede;
  background-color: pink;
}


textarea {
    padding: 10px;
    line-height: 1.5;
    width: 100%;
    height: 400px;
    border-radius: 5px;    
    border: 1px solid #ccc;
    /*border: none;*/
    /*box-shadow: 1px 1px 1px #999;*/
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    overflow: auto;
    outline: none;

    resize: none; /*remove the resize handle on the bottom right*/

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  display: inline;
  /*float: left;*/

}
.App-paper {
  paddingtop: 100 * 2;
  paddingbottom: 100 * 1;
  padding-left: 400;
  padding-right: 100;
}

.App-header {
  background-color: #1E90FF;
  background-color: #6495ED;
  min-height: 5vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
